body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    
}

.logo>a>img{
    width: 80px;
    height: 80px;
    margin-left: 50px;
}

.nav-items{
    display: flex;
    align-items: center;
}

.nav-items>ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 18px;


}

.nav-items>ul>li{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 10px;
    width: auto;
    height: 10px; 
    border-radius: 18px;
    margin-left: 12px;


}

.navLi:hover{
    width: auto;
    height: 10px;
    background-color: #ebe9e6;
    
 
}

.loginBtn{
    font-size: 18px;
    padding: 10px;
    width: auto;
    height: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
}
/* 
.loginBtn:hover{
    color: white;
    background-color: #188b2a;  
} */